body {
  margin: 0;
  padding: 0;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  color: #333;
}

/*Header in black color*/

header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

/* The body content in a block*/
 
.container {
  width: 940px;
  margin: 0 auto;
}

div.jumbo {
  padding: 10px 0 30px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.testing{
	padding: 10px 0 30px 0;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #8B8378;
}

h4 {
	font-size: 1.7em;
	font-weight: 100;
	margin-top: 20px;
    text-align: left;
	letter-spacing: -2px;
	color: #000000;
}

/*Display navigation links inline*/
 
.menu {
	float: right;
	margin-top: 8px;
}
 
.menu li {
	display: inline;
}
 
.menu li + li {
	margin-left: 35px;
}
 
.menu li a {
	color: #999;
 	text-decoration: none;
}

#testing-form {
    background-color: #F2F7F9;
    width: 465px;
	height: 600px;
    padding:20px;
    margin: 50px auto;
	margin-top: 0px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: relative;
}

#testing-form input, 
#testing-form select, 
#testing-form textarea, 
#testing-form label {
    font-size: 20px;
    margin-bottom: 2px;
}

#testing-form input, 
#testing-form select, 
#testing-form textarea {
    width: 450px;
    border: 1px solid #CEE1E8;
    margin-bottom: 20px;
    padding: 4px;
}

#testing-form input: focus, 
#testing-form select: focus, 
#testing-form textarea: focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}

#testing-form textarea {
    height: 150px;
    resize: none;
}

#testing-form label {
    display: block;
}

#testing-form #submit-button {
    width: 100px;
    color: #000;
    border: none;
    display: block;
    float: right;
    margin-bottom: 0px;
    margin-right: 6px;
    background-color: #8FB5C1;
    -moz-border-radius: 8px;
}

#testing-form #submit-button: hover {
    background-color: #A6CFDD;
}

#testing-form #submit-button: active {
    position: relative;
    top: 1px;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color: #CCC;
    font-style: italic;
}

/* mozilla */
input: -moz-placeholder, textarea: -moz-placeholder {
    color: #CCC;
    font-style: italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color: #CCC;
    font-style: italic;
}

