{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
  <h2>Automated rendering testing</h2>
  </div>
	<div id="testing-form">
	<form action="{{url_for('test')}}" method=post>
			<label for="fontfile">Font file</label>
      		<input type="text" name=fontfile size=30 value="{{ request.form.fontfile }}" placeholder="filename.ttf"/><br/>
			<label for="testcases">Test cases file</label>
      		<input type="text" name=testcases size=30 value="{{ request.form.testcases }}"  /><br/>
			<label for="referencefile">Reference file</label>
      		<input type="text" name=referencefile size=30 value="{{ request.form.referencefile }}" /><br/>
			<label for="renderedoutput">Rendered output</label>
			<input type="text" name=renderedoutput size=30 value="{{ request.form.renderedoutput }}" /><br/>
			<label for="outputfile">Output file</label>
      		<input type="text" name=outputfile size=30 value="{{ request.form.outputfile }}" /><br/>
			<label for="errorfile">Error file</label>
    		<input type="text" name=errorfile size=30 value="{{ request.form.errorfile }}" /></br/>
			<label for="directory">Directory</label>
	        <input type="text" name=directory size=30 value="{{ request.form.directory }}" /><br/>
			<a href="{{url_for('test')}}"><input type="submit" value="Test" id="submit-button"/></a>
	</form>
	</div>
{% endblock %}
